    {{> header }}
    <div class="navbar">
        <a href="/">Home</a>
        <!--<div class="create_event_dropdown">
            <button class="event_dropdown">Create Event &#x25BE;</button>
            <div class="create_event_dropdown_list">
                <a href="#create_lecture">Create Lecture</a>
                <a href="#create_meeting">Create Meeting</a>
                <a href="html_Pages/create_conference.html">Create Conference</a>
            </div>
        </div>-->
        <a href="/create_conference">Create Conference</a>
        <!--<a href="#room booking">Room booking</a>-->
        <!--<a href="#administration">Administration</a>-->
        <a href="/profile">My profile</a>
        <a href="/network">Networking Lounge</a>
        <a href="http://localhost:8080">Shop</a>
    </div>
    <div class="conf_leftMenu">
                
        <ul id="outer">
                
            <li class="menuConfTitle selected menuConfSelected">
                <a href="/event">Overview</a>
            </li>
            <li class="menuConfTitle">
                <a href="/event/registrations">Registration</a>              
            </li>
            <li class="menuConfTitle">
                <a href="/event/abstracts">Call for Abstracts</a><ul class="inner"></ul>              
            </li>
        </ul>
    

</div>
    <style>
        .event_style {
            margin-left: 15%;
        }
    </style>
    <form action="/event" method="GET">
    <div class="event_Style">
        <p>
                <b>Event Details</b><br><br>
                    <b style="font-size: large;"><u>Title</u></b>
                    <p>{{events.title}}</p>
                    <b style="font-size: large;"><u>Event Description</u></b>
                    <p>{{events.eventDescription}}</p>
                    <b style="font-size: large;"><u>Start/End Date and Time</u></b>
                    <p>Starts: {{events.startDate}} - {{events.startTime}}</p>
                    <p>Ends: {{events.endDate}} - {{events.endTime}}</p>
                    <b style="font-size: large;"><u>Find out more by visiting their website</u></b>
                    <p>Business Website: <a href="https://{{events.businessLink}}">{{events.businessLink}}</a></p>
                    <b style="font-size: large;"><u>Event Link</u></b>
                    <p>Zoom Link: <a href="https://{{events.zoomLink}}">{{events.zoomLink}}</a></p>
        </p>
    </div>
    </form>
    <script type="text/javascript" src="../static/timezone.js"></script>
    <script type="text/javascript">
        main();
    </script>
