    {{> header }}
    <div class="navbar">
        <a href="/">Home</a>
        <!--<div class="create_event_dropdown">
            <button class="event_dropdown">Create Event &#x25BE;</button>
            <div class="create_event_dropdown_list">
                <a href="#create_lecture">Create Lecture</a>
                <a href="#create_meeting">Create Meeting</a>
                <a href="html_Pages/create_conference.html">Create Conference</a>
            </div>
        </div>-->
        <a href="/create_conference">Create Conference</a>
        <!--<a href="#room booking">Room booking</a>-->
        <!--<a href="#administration">Administration</a>-->
        <a href="/profile">My profile</a>
        <a href="/network">Networking Lounge</a>
    </div>
    <div class="conf_leftMenu">
                
        <ul id="outer">
                
            <li class="menuConfTitle selected menuConfSelected">
                <a href="/event">Overview</a>
            </li>
            <li class="menuConfTitle">
                <a href="/event/registrations">Registration</a>              
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/program">Scientific Program</a>
            </li>
            <li class="menuConfTitle">
                <a href="/event/abstracts">Call for Abstracts</a><ul class="inner"></ul>              
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/timetable/">Timetable</a>             
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/contributions/">Contribution List</a>               
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/contributions/authors">Author List</a>
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/contributions/speakers">Speaker List</a>
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/papers/">Paper Peer Reviewing</a><ul class="inner">
            <li class="menuConfMiddleCell">
                <a href="/event/2018/papers/reviewing/">Reviewing Area</a>
            </li>
            <li class="menuConfMiddleCell">
                <a href="/event/2018/papers/judging/">Judging Area</a></li></ul>             
            </li>
            <li class="menuConfTitle">
                <a class="no-link">Editing</a>
                <ul class="inner">
                    <li class="menuConfMiddleCell">
                        <a href="/event/2018/editing/paper/list">Papers</a>
                    </li>
                    <li class="menuConfMiddleCell">
                        <a href="/event/2018/editing/slides/list">Slides</a>
                    </li>
                    <li class="menuConfMiddleCell">
                        <a href="/event/2018/editing/poster/list">Posters</a></li></ul>                
                    </li>
            <li class="menuConfTitle">
                <a href="/event/2018/book-of-abstracts.pdf">Book of Abstracts</a>
            
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/surveys/">Surveys</a>             
            </li>
            <li class="menuConfTitle">
                <a href="/event/2018/registrations/participants">Participant List</a>
            </li>
        </ul>
    

    <div class="support_box">
            <h3>Contact</h3>
            <ul>
                
                    <li>
                        <span class="icon icon-mail" aria-hidden="true"></span>
                        <a href="mailto:rpatgao1@asu.edu?subject=Tradeshow">rpatgao1@asu.edu</a>
                    </li> 
            </ul>
    </div>
    <div class="text">
        <div>
            <span class="label">Starts</span>
            <time datetime="2021-09-27T22:00:00+00:00">
                Sep 27, 2021, 3:00 PM
            </time>
        </div>
        <div>
            <span class="label">Ends</span>
            <time datetime="2022-05-27T22:30:00+00:00">
                May 27, 2022, 3:30 PM
            </time>
        </div>
        <div class="timezone">US/Arizona</div>
    </div>
</div>
    <style>
        .event_style {
            margin-left: 15%;
        }
    </style>
    <form action="/event" method="GET">
    <div class="event_Style">
        <p>
                <b>Event Details</b>
                    <p>{{events.title}}</p>
                    <p>{{events.eventDescription}}</p>
                    <p>Starts: {{events.startDate}} - {{events.startTime}}</p>
                    <p>Ends: {{events.endDate}} - {{events.endTime}}</p>
                    <p>Zoom Link: <a href={{events.zoomLink}}>{{events.zoomLink}}</a></p>
        </p>
    </div>
    </form>
    <script type="text/javascript" src="../static/timezone.js"></script>
    <script type="text/javascript">
        main();
    </script>
