    {{> header }}
    <div class="navbar">
        <a href="/">Home</a>
        <!--<div class="create_event_dropdown">
            <button class="event_dropdown">Create Event &#x25BE;</button>
            <div class="create_event_dropdown_list">
                <a href="#create_lecture">Create Lecture</a>
                <a href="#create_meeting">Create Meeting</a>
                <a href="/create_conference">Create Conference</a>
            </div>
        </div>-->
        <a href="/create_conference">Create Event</a>
        <!--<a href="#room booking">Room booking</a>-->
        <!--<a href="#administration">Administration</a>-->
        <a href="/profile">My profile</a>
    </div>
    <div class="event_navbar">
        <a style="color:rgb(241, 154, 23); font-size: larger; margin-right: 55%;">All events</a>
        <div class="search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">&#128269;</button>
        </div>
        <!--<a href="create_event" class="active">Create Event &#x25BE;</a>-->
        <a href="/create_conference" class="active">Create Event </a>
        <!--<a href="navigate">	&#129517; navigate</a>-->
        <a href="calender">&#128197;</a>
        <!--<a href="eye">&#128065; &#x25BE;</a>
        <a hred="draw">&#9998;</a>-->
    </div>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div class="main_body">
        <p style="text-align: center;">Welcome</p>
        <ul>
            <b>Events</b>
            <table>
                <tr>
                    <th>Event Title</th>
                    <th>Event Description</th>
                    <th>Event Date</th>
                    <th>Event Time</th>
                    <th>View</th>
                </tr>
            {{#each eventList}}
            <form action="/" method="POST">
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.eventDescription}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.startTime}}
                    <input type="text" name="test" value="{{this.id}}" style="display:none;"></td>
                    <td><button type="submit">view</button></td>
                </tr>
            </form>
            {{/each}} 
            </table>
            
        </ul>
    </div>
    <script type="text/javascript" src="../static/timezone.js"></script>
    <script type="text/javascript">
        main();
    </script>
    
